<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.acg.mapper.UserMapper">

    <select id="list">
        SELECT * FROM user
    </select>

    <select id="likeListByName">
        SELECT * FROM user WHERE name LIKE CONCAT('%', #{name}, '%')
    </select>

    <select id="getUserByName" resultType="org.example.acg.entity.User">
        SELECT * FROM user WHERE name = #{name} and isDelete = 0
    </select>

    <select id="getUserById">
        SELECT * FROM user WHERE id = #{id}
    </select>
    
    <insert id="insertUser" parameterType="org.example.acg.entity.User">
        INSERT INTO user (name, sex, phone, email, password, create_time, isDelete) VALUES (#{name}, #{sex}, #{phone}, #{email}, #{password}, NOW(), 0)
    </insert>
    <update id="updateUser">
        UPDATE user SET password = #{password} WHERE id = #{id}
    </update>

    <update id="deleteUser">
        UPDATE user SET isDelete = 1 WHERE id = #{id}
    </update>

    <update id="replyUser">
        UPDATE user SET isDelete = 0 WHERE id = #{id}
    </update>
    <insert id="save" parameterType="org.example.acg.entity.User">
        INSERT INTO user (id, name, sex, phone, email, password, create_time, isDelete)
        VALUES
        (#{id}, #{name}, #{sex}, #{phone}, #{email}, #{password}, NOW(), 0)
        ON DUPLICATE KEY UPDATE
        name = VALUES(name),
        sex = VALUES(sex),
        phone = VALUES(phone),
        email = VALUES(email),
        password = VALUES(password)
    </insert>
</mapper>
